        <tr class="zebra">
            <th class="tb-center" scope="row">@NRSEQETA@</th>
            <td class="tb-center">@NMCIDORP@/@CDESTORP@</td>
            <td class="tb-center">@NMCIDDEP@/@CDESTDEP@</td>
            <td class="tb-right">@PSDELETA@</td>
            <td class="tb-right">@QTVOLCAR@</td>
            <td class="tb-right">@QTDISETA@</td>
            <td class="tb-center">@DTEAD@</td>
        </tr>

        <tr>
            <td colspan="7">- @TXEXIGEN@</td>
        </tr>

        <tr>
            <td class="trn" colspan="7"><br /></td>
        </tr>
