<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oferecimento - Bravo Logística</title>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
  </head>
  <body style="font-family: helvetica; background-image: url(http://artwebsistemas.com.br/img_bravo/bg02.jpg); background-position: center top; background-repeat: no-repeat;">
    <div class="row" style="padding-top: 25px; padding-bottom: 25px;">
      <div class="col-md-12 text-center">
        <img style="width: 10%; margin-left: 45%;" src="http://artwebsistemas.com.br/img_bravo/bravo-logo-01.png" alt="">
      </div>
    </div>
    <hr style="width: 60%;height:4px; border:none; color:#000; background-color:#ff8316; margin-top: 0px; margin-bottom: 0px;"/>
    <div class="row" style="margin-top: 20px; ">
      <div class="col-md-12 text-center">
        <img style="width: 60%; margin-left: 20%;" src="http://artwebsistemas.com.br/img_bravo/bravoQualidadeMovimento.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="padding-left: 43%; padding-top: 10px; color: #054283;">
        <h2 style="font-weight: 900; font-size: 170%;">Nova Carga Disponível</h2>
      </div>
    </div>
    <hr style="width: 60%;height:4px; border:none; color:#000; background-color:#ff8316; margin-top: 20px; margin-bottom: 20px;"/>
    