<div class="row" style="margin-bottom: 3%; margin-top: 1%;">
  <div class="col-md-12 text-center" style="margin-left: 43%;">
    <a href="@LINK@" class="btn" target="_blank"
    style="text-decoration:none; background-color: #054283; color: #fff; padding-left: 35px; padding-right: 35px; padding-top: 10px;padding-bottom: 10px;">
      Acessar Plataforma</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" style="background-color: #ff8316; padding: 20px; text-align: center;">
    <h5 style="font-weight: 900; color: #033161;">Atenção: A Bravo não envia e-mails solicitando o preenchimento de dados pessoais e senhas</h5>
    <h6 style=" color: #fff;">Copyrigth©‎ 2018 BRAVO SERVIÇOS LOGISTICOS. Todos os direitos reservados.</h6>

  </div>
</div>
</body>
</html>